<section class='item-body'>
  {{{typeContent}}}

  {{#unless (or (eq itemType 'daCaseBrief') (eq itemType 'playerCaseBrief') (eq itemType 'informationCard'))}}
    <div class='form-group description'>
      <label>{{localize 'NEONRELIC.Description'}}</label>
      <div class='editor'>{{{enrichedDescription}}}</div>
      {{#if isEditable}}
        <textarea name='system.description' style='display:none;'>{{system.description}}</textarea>
      {{/if}}
    </div>
  {{/unless}}
</section>